@import "../../../App.scss";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22.4vw;
  background-color: $Primary;
  .title-logo {
    width: 37.8667vw;
  }
}

.container {
  padding-top: 5.3333vw;
  .module-title {
    position: relative;
    padding-left: 2.4vw;
    margin-bottom: 3.7333vw;
    font-size: 4.5333vw;
    height: 5.3333vw;
    line-height: 5.3333vw;
    &::after {
      content: " ";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -2.4vw;
      width: 0.5333vw;
      height: 4.2667vw;
      background-color: $Primary;
    }
  }
}
